/* Formatações Gerais de ELEMENTOS */
body {
    background-color: #151C48;
}

/* Formatações Gerais de CLASSES */
.a--no-default-style {
    text-decoration: none;
    color: black;
}

/* Formatações da Página [Top to Bottom] */
/* Todo o conteúdo menos o footer */
main {
    background-color: white;
    margin-top: 25vh;
    padding: 1em;
    
    text-align: center;
}

/* Menu de Navegação Principal */
.ul-basic-links {
    list-style: none;
    padding-left: 0;
}

    .ul-basic-links a {
        background-color: #DEB63D;
    }

    .ul__item-menu a {
        display: inline-block;

        padding: 1em 2em;
    }

    .ul__item-accounts {
        margin-top: 1em;
    }
    
    .ul__item-accounts--flex {
        display: flex;

        justify-content: center;
    }

        .ul__item-accounts a {
            display: inline-block;

            padding: 1em 2em;
            margin: 1em;
        }

            .ul__item-accounts a:nth-child(1) {
                padding: 1em 2.4em;
            }

/* Footer com link para funcionários */
.footer-employee {
    width: 15%;

    position: absolute;
    right: 1em;
    bottom: 1em;

    text-align: center;

    color: #EBE4D1;
}

    .footer-employee img {
        /* Nota: Encontrar uma solução para o redimensionamento da imagem de acordo com o tamanho da tela, recomendado usar a função "calc()" ou outra qualquer, para evitar o uso de @media para formatar um elemento específico */
        width: 90%;
    }

@media screen and (min-width: 820px) {
    
    .footer-employee img {
        width: 70%;
    }

}

@media screen and (min-width: 1080px) {
    
    .footer-employee img {
        width: 50%;
    }

}

@media screen and (min-width: 1600px) {
    
    .footer-employee img {
        width: 40%;
    }

}