/* Formatações Gerais de ELEMENTOS */
body {
    margin: 0;
}

/* Formatações Gerais de CLASSES */
.a--no-default-style {
    text-decoration: none;
    color: black;
}

.clear-float::after {
    content: "";
    display: block;
    clear: both;
}

/* Formatações da Página [Top to Bottom] */
/* Header Superior */
.header__ul--lines {
    background-color: #c2baa1;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

    .header__li--line {
        text-align: center;
    }

        .header__li--line a {
            display: block;
            padding: 1em 2em;
        }

/* Seção Principal */
.section--products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .section__div--product {
        margin: 1em;
    }

        .section__div--product img {
            width: 10em;
            height: 10em;
        }

/* Footer Inferior */
.footer {
    background-color: #ddd;
    padding: 1em;
}

    /* Div Superior (Endereço, Formas de Pagamento) */
    .footer address {
        width: 50%;

        float: left;
    }

    .footer__div--right {
        width: 50%;

        float: right;

        text-align: right;
    }

        .footer__ul {
            list-style: none;
            padding-left: 0;
        }

            .footer__ul img {
                width: 50%;
            }

    /* Páginas da Unisales */
    .footer__nav--bottom ul {
        list-style: none;
        padding-left: 0;
    }

        .footer__nav__li--unisales {
            display: inline-block;
        }

        .footer__nav__li--right {
            float: right;
        }

            .footer__nav__li--right:not(:first-child) {
                margin-left: 1.5em;
            }