/* Formatações Gerais de ELEMENTOS */

/* Formatações Gerais de CLASSES */
.hidden-accessibility-text {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* Formatações da Página [Top to Bottom] */
/* Header Superior */
.header-top {
    background-color: #151C48;
    padding: 1em;

    text-align: center;
}

/* Formulário Centralizado */
.form-center {
    background-color: #eee;
    width: 50%;

    margin: 5em auto;
    border: 3px solid #DEB63D;
    border-radius: 10px;
    padding: 1em;
}

    .form-center h1 {
        margin: 0.5em;

        text-align: center;

        font-size: 1.5em;
    }

    .form-center fieldset {
        border: none;
        padding: 0;
    }

    .form__basic-informations--flex {
        display: flex;
        
        flex-direction: column;
    }

        .form__basic-informations input {
            width: 100%;

            box-sizing: border-box;

            margin-bottom: 0.75em;
            padding: 0.5em;
            outline-color: #E30613;
        }

            .form__basic-informations label:last-child {
                margin-bottom: 0.5em;
            }

    .form__you-are {
        margin: 0 auto 1em;
    }

        .form__you-are__div--flex {
            display: flex;

            flex-direction: column;
        }

            .form__you-are p {
                margin-top: 0;
                margin-bottom: 0.5em;
            }

            .form__you-are--flex label {
                margin-bottom: 0.2em;
            }

    .form__buttons {
        text-align: center;
    }

        .form__buttons .form__button:first-child {
            margin-right: 2em;
        }

        .form__button {
            border: 1px solid #777;
            border-radius: 5px;
            padding: 0.5em 1em;
        }

@media screen and (min-width: 980px) {

    .form__basic-informations--grid {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        gap: 0 2em;
    }

        .form__basic-informations--grid label:nth-of-type(1) {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
        }
        
        .form__basic-informations--grid label:nth-of-type(2) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
        
        .form__basic-informations--grid label:nth-of-type(3) {
            grid-row: 2 / 3;
            grid-column-start: 2;
        }
        
        .form__basic-informations--grid label:nth-of-type(4) {
            grid-row-start: 3;
            grid-column: 1 / 2;
        }
        
        .form__basic-informations--grid label:nth-of-type(5) {
            grid-row-start: 3;
            grid-column-start: 2;
        }

    .form__you-are--flex {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 1280px) {
    
    .form-center {
        width: 30vw;
    }

    .form__you-are--flex {
        flex-direction: column;
    }

}